.awesome{
    background-color:white;
    margin: 5px;
    font: normal arial, verdana  bold;
    padding: 5px;
    border: solid hotpink 2px;
    border-radius: 5px;
    color:black;
    z-index:99;
    overflow:hidden;
}

.inner{
    float:left;
}
.awesome a{
    color: #662F89;
    cursor:pointer;
}

.tracks{
    overflow:hidden;
    background-color:#ffffff;
}

h3 a{
    color:#333333;
    cursor:pointer;
}

h4 a{
    color:#333333;
    cursor:pointer;
}

#logo{
    width:200px;
    position:fixed;
    top:50px;
    left:15px;
    z-index:150;
}

.player{
    margin-top: 10px;
}


/*SEARCH*/
#btnSearch{
    border:2px solid hotpink;
    border-radius:5px;
    height:30px;
    font-size:large;
    margin:5px 5px 0px 0px;
    float:left;
    background-color:#ffffff;
}

#txtSearch{
    border-radius:5px;
    height:30px;
    font-size:large;
    float:left;
    margin:5px;
}

#topSearch{
    position: fixed;
    top: 240px;
    left: 10px;
    /*width: 320px;*/
    background-color:#ffffff;
    border:2px solid hotpink;
    border-radius:5px;
    z-index:1000 !important;
}

/*AUTOCOMPLETE*/
.ui-autocomplete{
    position:relative;
    cursor:default;
    z-index:9999 !important;
    max-width:320px;
    border:2px solid #662F89;   
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

.ui-menu-item:hover{
    background-color:lightskyblue;
}
