body {
    padding-top: 120px;
    padding-bottom: 20px;
    background-color:#95dffd;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
.top-left-pony {
    background-image: url('../Images/tail-left.png');
    width:312px;
    height:441px;
    /*float:left;*/
    position:fixed;
    top:50px;
    left:0px;
    z-index:99;
}

.top-right-pony {
    background-image: url('../Images/tail-right.png');
    width:312px;
    height:441px;
    /*float:right;*/    
    position:fixed;
    top:50px;
    right:0px;
    z-index:99;
}

.top-pony {
    background-image: url('../Images/TopBar.png');
    height:70px;
    width:100%;
    background-repeat:repeat-x;   
    position:fixed;
    top:50px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
